.layout {
  display: flex;
  height: 100vh;
}
  
.content {
  flex-grow: 1;
  padding: 0px 20px 0px 20px;  
  background-color: #96CCA8;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
}

.navbar {
  text-align:left;
  font-size: 48px;
  height: 86px;
  min-height: 86px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}
.childrenWrapper{
  border-radius: 16px 16px 0px 0px;
  background-color: #C6EEC9;
  padding: 0px 20px 0px 20px;
  height: auto;
  flex-grow: 1;
}

/* Personalizando a barra de rolagem */
.content::-webkit-scrollbar {
  width: 8px; /* Barra de rolagem mais fina */
}

.content::-webkit-scrollbar-track {
  background: #96CCA8; /* Cor do fundo da barra de rolagem */
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #70997E; /* Cor da barra de rolagem */
  border-radius: 10px; /* Bordas arredondadas para a barra de rolagem */
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #507C5E; /* Cor mais escura no hover */
}

.loyout-questionIcon {
  display: inline-block; /* Certifique-se que o elemento pode ter um tamanho */
  width: 14px;           /* Defina o tamanho do ícone */
  height: 14px;          /* Defina o tamanho do ícone */
  background-image: url('/icons/questionIcon.svg'); /* Caminho para o SVG */
  background-size: contain; /* Garante que o SVG seja redimensionado corretamente */
  background-repeat: no-repeat;
  position: absolute;
  top: 48px;
  left: 99px;
}
.loyout-questionIcon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.logoutIcon{
  display: inline-block; /* Certifique-se que o elemento pode ter um tamanho */
  width: 36px;           /* Defina o tamanho do ícone */
  height: 36px;          /* Defina o tamanho do ícone */
  background-image: url('/icons/logOutIcon.svg'); /* Caminho para o SVG */
  background-size: contain; /* Garante que o SVG seja redimensionado corretamente */
  background-repeat: no-repeat;
  padding-right: 20px;
}
.logoutIcon:hover{
  transform: scale(1.1);
  cursor: pointer;
}